---
layout: default
title: Adi Purnama
---

{% for post in paginator.posts %}
    <article class="post-card">
        <h1 class="post-card__title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="post-card__published-at">{{ post.published_at }} · {{ post.content | number_of_words | divided_by: 250.0 | ceil }} menit</p>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}">Baca selengkapnya</a>
        <hr class="dashed-separator">
        <p>
          Bagikan:<br/>
          <a target="_blank" href='https://x.com/intent/post?text={{ post.title }} {{ site.url }}{{ post.url }}'>Twitter/X</a>
        </p>
    </article>
{% endfor %}

<nav class="post-navigation-wrapper">
    {% if paginator.previous_page %}
        <a class="post-pagination-nav" href="{{ paginator.previous_page_path }}">Sebelumnya</a>
    {% else %}
        <a class="post-pagination-nav" href="#"></a>
    {% endif %}

    {% if paginator.next_page %}
    <a class="post-pagination-nav" href="{{ paginator.next_page_path }}">Selanjutnya</a>
    {% else %}
        <a class="post-pagination-nav" href="#"></a>
    {% endif %}
</nav>
