---
layout: default
title: Now
permalink: /now
image: /assets/images/adi-og.jpg
description: Besides of the social media, I put what I'm currently up to here. This page is inspired by Derek Sivers's now page.
---

{% assign size = site.data.now | size %}
{% if size == 0 %}
<p>No now posts yet.</p>
{% else %}
<div>
  {% assign latest = site.data.now[0] %}
  <article class="post-content">
    <h1 class="post-card__title">{{ latest.date }}</h1>

    {{ latest.content | markdownify }}
  </article>

  {% assign previous_size = site.data.now.size | minus: 1 %}

  {% if previous_size > 0 %}
  <h3 class="margin-top-large">Previous updates</h3>
  <div>
    {% for now in site.data.now offset: 1 %}
    <details class="margin-top">
      <summary>{{ now.date }}</summary>

      {{ now.content | markdownify }}
    </details>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endif %}
