<script>
  document.addEventListener("DOMContentLoaded", function() {
    const enabled = localStorage.getItem("darkModeEnabled")

    if (enabled == "false") {
      document.querySelector(":root").classList.remove("dark")
      darkModeButton.textContent = "Dark mode"
    } else {
      document.querySelector(":root").classList.add("dark")
      darkModeButton.textContent = "Light mode"
    }

    darkModeButton.addEventListener("click", function(event) {
      document.querySelector(":root").classList.toggle("dark");

      const text = event.target.textContent.toLowerCase()

      if (text == "light mode") {
        localStorage.setItem("darkModeEnabled", "false")
        event.target.textContent = "Dark mode"
      } else {
        localStorage.setItem("darkModeEnabled", "true")
        event.target.textContent = "Light mode"
      }
    })
  })
</script>
