.post-card {
    margin: 3rem 0;

    &__title {
        margin-bottom: 0;

        a {
            color: $postTitleColor;
        }
    }

    &__published-at {
        color: $postDateColor;
        margin-top: 0.5rem;
        font-size: 14px;
    }
}

.dark .post-card {
    &__title {
        a { color: $darkPostTitleColor; }
    }

    &__published-at {
        color: $darkPostDateColor;
    }
}
