<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/images/adi-square.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <div class="container body-wrapper" id="top">
      <section>
        <h1 class="site-title">{{ site.title | default: "Adi Purnama" }}</h1>
        <p class="site-description">{{ site.description | default: "a personal blog." }}</p>
        <hr />
        <nav>
          <a href="/">Beranda</a> | <a href="/tentang-saya">Tentang Saya</a> | <a href="/tech">Tech</a> 
        </nav>
      </section>
      <section style="margin-top: 3rem">
        {{ content }}
      </section>        
    </div>
  </body>
  <footer class="container footer-nav-wrapper">
    <hr />
    <nav>
      <a href="#top">↑ Top</a> | <a href="/arsip">Arsip</a> | <a href="/rss-feed">RSS Feed</a>
    </nav>
  </footer>
</html>
