<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="dark">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/images/adi-square.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <main class="container body-wrapper">
      <section>
        <div class="flex justify-between items-center full-width margin-top">
          <h1 class="site-title">{{ site.title | default: "Adi Purnama" }}</h1>
          <button class="dark-mode" id="darkModeButton">Light mode</button>
        </div>
        <p class="site-description">{{ site.description | default: "a personal blog." }}</p>
        <hr />
        <nav>
          <a href="/">Home</a> | <a href="/about">About</a> | <a href="/projects">Projects</a> | <a href="/tech">Tech</a> | <a href="/now">Now</a>

        </nav>
      </section>
      <section style="margin-top: 3rem">
        {{ content }}
      </section>
    </main>
    {% include dark_mode_handler.html %}
  </body>
  <footer class="container footer-nav-wrapper">
    <hr />
    <nav>
      <a href="#">↑ Top</a> | <a href="/archives">Archives</a> | <a href="/rss-feed">RSS Feed</a>
      {% include project_links.html %}
    </nav>
  </footer>
</html>
