<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div class="container body-wrapper" id="top">
      <section>
        <a href="/" class="back">← Kembali ke beranda</a>
        <h1 class="post-card__title">{{ page.title }}</h1>
        <hr class="post-divider" />
        <p class="post-card__published-at">{{ page.published_at }} · {{ page.content | number_of_words | divided_by: 250.0 | round }} menit</p>
        <p></p>
      </section>
      <section class="post-content">
        {{ content }}
      </section>        
    </div>
  </body>
  <footer class="container footer-nav-wrapper">
    <hr />
    <nav>
      <a href="#top">↑ Top</a> | <a href="#">RSS Feed</a>
    </nav>
  </footer>
</html>
