<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" href="/assets/images/adi-square.jpg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% seo %}
    <style>
      html {
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <div class="container body-wrapper" id="top">
      <section>
        <a href="/" class="back">← Kembali ke beranda</a>
        <h1 class="post-card__title">{{ page.title }}</h1>
        <hr class="post-divider" />
        <p class="post-card__published-at">{{ page.published_at }} · {{ page.content | number_of_words | divided_by: 250.0 | ceil }} menit</p>
        <p></p>
      </section>
      <section class="post-content">
        {{ content }}

        <nav class="post-navigation-wrapper" style="margin-top: 3rem;">
          {% if page.previous %}
              <a class="post-pagination-nav previous-post truncate" href="{{ page.previous.url }}">
                ←<br/>
                {{ page.previous.title }}
              </a>
          {% else %}
              <a class="post-pagination-nav" href="#"></a>
          {% endif %}
              
          {% if page.next %}
            <a class="post-pagination-nav next-post truncate" href="{{ page.next.url }}">
              →<br/>
              {{ page.next.title }}
            </a>
          {% else %}
              <a class="post-pagination-nav" href="#"></a>
          {% endif %}
      </nav>
      </section>        
    </div>
  </body>
  <footer class="container footer-nav-wrapper">
    <hr />
    <nav>
      <a href="#top">↑ Top</a> | <a href="#">RSS Feed</a>
    </nav>
  </footer>
</html>
